.card {
  padding: 10px;
  background-color: grey;
  position: relative;
}

.card-title {
  padding-top: 15px;
  color: white;
  margin: 0;
}

.card-body {
  padding-left: 10px;
}

.card-price {
  color: white;
  font-size: 25px;
  margin: 0;
}

.card-image {
  object-position: center;
}

.card-image > img {
  padding: 10px;
  height: 300px;
}

.new-book {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 40px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
}
